<ul>
{% for page in pages %}
    <p>
        <a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a><br/>
    {% if page.meta.date %}
        <i>{{ page.meta.date.strftime('%b %d, %Y') }}</i>
    {% endif %}
    {% if page.meta.tags and page.meta.tags|length %}
        | Tagged:
        {% for page_tag in page.meta.tags %}
            <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>
        {% endfor %}
    {% endif %}
    {% if page.meta.categories and page.meta.categories|length %}
        Categories:
        {% for page_tag in page.meta.categories %}
            <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>
        {% endfor %}
    {% endif %}
    </p>
{% else %}
    <li>No page.</li>
{% endfor %}
</ul>
