<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>My site</title>
</head>
<body>
    <link href="/static/selena.css" rel="stylesheet" type="text/css">
    <div id="page">
        <h1><a href="{{ url_for("index") }}">Selena Deckelmann</a></h1>
        <nav role="navigation" class="site-navigation main-navigation">
            <h1 class="assistive-text">Menu</h1>
            <div class="assistive-text skip-link"><a href="#content" title="Skip to content">Skip to content</a></div>

            <div class="menu-header-container">
                <ul id="menu-header" class="menu">
                <li id="menu-item-4882" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4882"><a href="/daily/popular-writing/index/">Popular</a></li>
                <li id="menu-item-3518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3518"><a href="/daily/speaking/index/">Speaking</a></li>
                <li id="menu-item-3519" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3519"><a href="/daily/conferences/index/">Conferences</a></li>
                <li id="menu-item-3520" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3520"><a href="/daily/devops/index/">DevOps</a></li>
                <li id="menu-item-4704" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4704"><a href="/daily/about/index/">About me</a></li>
                </ul>
            </div>
        </nav><!-- .site-navigation .main-navigation -->
    {% block content %}
        <p>Default content to be displayed</p>
    {% endblock content %}
    </div>
</body>
</html>

