{% extends "base.html" %}

{% block content %}
    <p>
        <center><a href="/"><img width="300" src="http://www.chesnok.com/images/selena_stcroix_300x225.jpg"></a></center>
    </p>
    <p>
        Hi! I'm Selena Deckelmann and this is <a href="/">my blog</a>.
    </p>
    <p>
    In the recent past, I was a <a href="https://www.python.org/psf/members/#board-of-directors">Python Software Foundation Director</a>, an advisor to the <a href="http://adainitiative.org">Ada Initiative</a>, a <a href="http://pyladies.com">PyLadies organizer</a>, contributor to <a href="http://www.postgresql.org/community/contributors/">PostgreSQL</a>. I <a href="http://blip.tv/aj-/selena-deckelmann-how-to-kill-three-chickens-in-three-years-1805373">keep chickens</a>. I also give a lot of <a href="/daily/speaking/index">technical talks</a>.
    </p>

    <p>
        I also <a href="http://twitter.com/selenamarie">tweet</a>.
    </p>

    <h2>Recent posts</h2>
    {% with pages=pages  %}
        {% include "_list.html" %}
    {% endwith %}
{% endblock content %}
