{% extends "base.html" %}

{% block content %}
    <h2><a href="{{ request.path }}">{{ page.title }}</a></h2>

    <div class='entry-meta'>
    <i>posted on {{ page.date.strftime('%b %d, %Y') }}</i><br/>
        {% if page.meta.tags and page.meta.tags|length %}
        <i>
            tags:
            {% for page_tag in page.meta.tags %}
                <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>
            {% endfor %}
        </i><br/>
        {% endif %}
        {% if page.meta.categories and page.meta.categories|length %}
        <i>
            categories:
            {% for page_tag in page.meta.categories %}
                <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>
            {% endfor %}
        </i></br>
        {% endif %}
    </div>

    {{ page.html|safe }}

{% endblock content %}
